.card {
    height: 550px;
    width: 80%px;
    box-sizing: border-box;
    border: 2px solid black;
}
.box{
    
    height: 300px;
    width: 400px;
     margin-left: 450px;
     margin-top: 15px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     border: 1px solid #ccc;
} 
img{
    height: 230px;
    width: 370px;
    padding-left: 15px;
    padding-top: 20px;

}
.card-second {
    height: 200px;
    width: 400px;
   
    margin-left: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.inner-box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin-left:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}
.inner-box-1{

    height: 200px;
    width: 200px;
    border: 2px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}